<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='styles/style.css') }}"
    />
    <link
      rel="icon"
      href="{{ url_for('static', filename='favicon.png') }}"
      type="image/x-icon"
    />
    <title>{% block title %}{% endblock %} - Infoscreen</title>
    {% block style %}{% endblock %}
  </head>

  <body>
    <nav>
      <h1>Infoscreen</h1>
    </nav>
    <section class="content">
      <header>{% block header %}{% endblock %}</header>
      {% block content %}{% endblock %}
    </section>

    {% block script %}{% endblock %}
  </body>
</html>
